.header {
  width: 100%;
  height: 72px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 64px;
  display: flex;
  align-items: center;
}

.nav {
  max-width: 1440px;
  width: 100%;
  display: flex;
  gap: 450px;
  align-items: center;
}

.logoSvg {
  width: 136px;
  height: 16px;
}

.links {
  display: flex;
  gap: 32px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  color: var(--main);
}

.active {
  color: var(--button-hover);
}
