.formCard {
  background: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 10px;
  width: 641px;

  padding: 44px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  color: #475467;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input,
.textarea {
  width: 100%;
  padding: 18px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

:global(.react-datepicker) {
  font-family: inherit;
  border: 1px solid #101828 !important;
  border-radius: 12px !important;
  padding: 15px !important;
}

:global(.react-datepicker__header) {
  background-color: white !important;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1) !important;
}

:global(.react-datepicker__day--selected) {
  background-color: #101828 !important;
  border-radius: 50% !important;
}

:global(.react-datepicker__day:hover) {
  border-radius: 50% !important;
}

.sendBtn {
  background-color: #e44848;
  color: white;
  padding: 16px 60px;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
  margin-top: 10px;
}

.sendBtn:hover {
  background: var(--button-hover);
}
