.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
  display: flex;
  gap: 64px;
}

.sidebar {
  width: 360px;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  max-width: 888px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMore {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background: transparent;
  border: 1px solid #dadde1;
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s;
}

.loadMore:hover {
  border-color: var(--primary-color);
}
