.container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 44px 80px;
  width: 100%;
  max-width: 631px;
  background-color: #f7f7f7;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-weight: 500;
  color: #101828;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detailsTitle {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin: 0;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailsItem {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.detailsItem span:first-child {
  color: #101828;
}

.detailsItem span:last-child {
  color: #101828;
}

.capitalize {
  text-transform: capitalize;
}

.iconDetails {
  fill: transparent;
  stroke: black;
}
